# Database host address. Change it if it is not on local host.
POSTGRES_HOST=127.0.0.1

# Database user name.
POSTGRES_USER=

# Database user password.
POSTGRES_PASSWORD=

# Database name.
POSTGRES_DB=

